<form [formGroup]="filterForm" novaldiate>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Searching Filters</mat-card-title>
    </mat-card-header>
    <div>
      <mat-form-field>
        <mat-select placeholder="Income Level" formControlName="incomeLevel">
          <mat-option *ngFor="let incomeLevel of incomeLevels" [value]="incomeLevel.id">
            {{ incomeLevel.value }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-select placeholder="Lending Type" formControlName="lendingType">
        <mat-option *ngFor="let lendingType of lendingTypes" [value]="lendingType.id">
          {{ lendingType.value }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <button mat-button type="button" (click)="onSubmit()">Search</button>
  </mat-card>
</form>
<!-- {{incomes | json}} -->
